@{
    ViewBag.Title = "Principal";
}
<div class="post">
    <h2 class="title"><a href="#">El lugar indicado para descubrir y comprar arte original en Argentina</a></h2>
    <p class="byline">Art Shop - El arte nos une</p>
    <div class="entry">
        <p>
            ART SHOP cuenta con una de las tiendas más importantes de Argentina y pone a la venta online obras de todo tipo de artistas y épocas. Todas las obras poseen garantía y certificado de autenticidad.



            Contamos con una amplia seleccion de obras que recorren desde el Arte Clásico al Moderno y Contemporáneo en sus diferentes manifesataciones. Desde Grandes Maestros a destacados Artistas Jovenes.



            Ofrecemos ascesoramiento tanto para coleccionistas como inversionistas, para diseño de espacios o empresas. Contactanos por mail, teléfono o en nuestro local.
        </p>
    </div>
</div>