@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Equipo 6 TP lppa <br />
    Equipo 6 TP lpp<br />
    <abbr title="Phone">P:</abbr>
    011.1234.5678
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ejemplo@gmail.com">Ejemplo@gmail.com</a><br />
</address>