@{
    ViewBag.Title = "Home Page";
}

    <div class="index">
        <br />
        <div class="imagenContainer">
            <IMG class="imagen" SRC="~/Content/img/vang gogh.gif" width="141"
                 alt="Figura: Expansion del Hubble" />
        </div>
        <br />

        <br />
        <br />
        <p>
            Los productos de ARTSHOP
        </p>
        <p>
            En ARTSHOP, nuestra filosofía se articula entorno a un eje principal; la relación calidad precio.
        </p>

        <p>
            Gran parte de nuestros productos son de fabricacion propia y se inspiran en valores de calidad y funcionalidad.
        </p>

        <p>
            Además, valorando la necesidad de garantizar siempre el mejor servicio, distribuimos otras marcas nacionales e internacionales, que seleccionamos por su calidad y precio.
        </p>

        <p>
            De esta forma, conseguimos ofrecer los mejores precios y la variedad que nuestro mercado y nuestros clientes esperan.
        </p>
        <br />

        <br />

    </div>