
@{
    ViewBag.Title = "Listado Cuadros";
}

<h2>Listado Obras y Corrientes Artisticas.</h2>

<div class="imagenContainer">
    <IMG class="imagen" SRC="~/Content/img/Obra de arte interesante.gif" width="241"
         alt="Figura: Expansion del Hubble" />
</div>

<p>
    Dentro de nuestro artshop podra encontrar imitaciones de obras de arte de diferentes corrientes
</p>
<br />
<p>corriente 1</p>
<br />
<p>corriente 2</p>
<br />
<p>corriente 3</p>
<br />
<p>corriente 4</p>
<br />
<p>corriente 5</p>